// colors
$blue: #428bff;
$red: #ff4a53;
$dark: #333;

$accent: $blue;
$secondary: desaturate($accent, 85%);

// tab setting
$tab-count: 4;
$indicator-width: 120px;
$indicator-height: 1px;

// breakpoints
$breakpoints: (
	medium: #{$tab-count * 250px},
	small: #{$tab-count * 150px},
);

// selectors relative to radio inputs
$label-selector: '~ ul > li';
$slider-selector: '~ .slider';
$content-selector: '~ .content > section';

* {
	font-family: sans-serif;
}

@mixin tabs($label-selector, $slider-selector, $content-selector) {
	@for $i from 1 through $tab-count {
		&:nth-of-type(#{$i}):checked {
			#{$label-selector}:nth-child(#{$i}) {
				@content;
			}

			#{$slider-selector} {
				transform: translateX(#{100% * ($i - 1)});
			}

			#{$content-selector}:nth-child(#{$i}) {
				display: block;
			}
		}
	}
}

.tabs {
	position: relative;
	background: white;
	padding: 10px;
	padding-bottom: 80px;
	width: 70%;
	height: 250px;
	border-radius: 5px;
	border: 1px solid black;
	min-width: #{$tab-count * 60px};

	input[name='tab-control'] {
		display: none;
	}

	.content section h2,
	ul li label {
		font-weight: bold;
		font-size: 18px;
		color: $accent;
	}

	ul {
		list-style-type: none;
		padding-left: 0;
		display: flex;
		flex-direction: row;
		margin-bottom: 10px;
		justify-content: space-between;
		align-items: flex-end;
		flex-wrap: wrap;

		li {
			box-sizing: border-box;
			flex: 1;
			width: #{calc(100% / $tab-count)};
			padding: 0 10px;
			text-align: center;

			label {
				transition: all 0.3s ease-in-out;
				color: $secondary;
				padding: 5px auto;
				overflow: hidden;
				text-overflow: ellipsis;
				display: block;
				cursor: pointer;
				transition: all 0.2s ease-in-out;
				white-space: nowrap;
				-webkit-touch-callout: none;

				br {
					display: none;
				}

				svg {
					fill: $secondary;
					height: 1.2em;
					vertical-align: bottom;
					margin-right: 0.2em;
					transition: all 0.2s ease-in-out;
				}

				&:hover,
				&:focus,
				&:active {
					outline: 0;
					color: lighten($secondary, 15%);
					svg {
						fill: lighten($secondary, 15%);
					}
				}
			}
		}
	}

	.slider {
		position: relative;
		width: #{calc(100% / $tab-count)};
		transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);

		.indicator {
			position: relative;
			width: $indicator-width;
			max-width: 100%;
			margin: 0 auto;
			height: $indicator-height;
			background: $accent;
			border-radius: 1px;
		}
	}

	.content {
		margin-top: 30px;

		section {
			display: none;
			animation: content 0.3s ease-in-out 1 normal;
			line-height: 1.4;
		}
	}

	input[name='tab-control'] {
		@include tabs($label-selector, $slider-selector, $content-selector) {
			> label {
				cursor: default;
				color: $accent;

				svg {
					fill: $accent;
				}

				@media (max-width: map-get($breakpoints, small)) {
					background: rgba(0, 0, 0, 0.08);
					// max-width: 30px;
				}
			}
		}
	}

	@keyframes content {
		from {
			opacity: 0;
			transform: translateY(5%);
		}
		to {
			opacity: 1;
			transform: translateY(0%);
		}
	}

	@media (max-width: map-get($breakpoints, small)) {
		ul li label {
			padding: 5px;
			border-radius: 5px;

			span {
				display: none;
			}
		}

		.slider {
			display: none;
		}
	}
}
