/*==================================================

https://fonts.google.com/specimen/Red+Hat+Mono  (font-family: 'Red Hat Mono', monospace;)
https://fonts.google.com/specimen/Quicksand     (font-family: 'Quicksand', sans-serif;)

==================================================*/

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@import './core/variables.scss';
@import './core/utils.scss';
@import './core/mixins.scss';

// other
@import './other/tabs.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;

	&:not(span) {
		color: white;
	}
}

body {
	background-color: $secondary;

	// scrollbar

	&::-webkit-scrollbar {
		width: 12px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: transparentize($color: $light-stale, $amount: 0.5);
		border: 3px solid $secondary;
		border-radius: 10px;
		transition: all 300ms;

		&:hover {
			background-color: $light-stale;
			transition: all 300ms;
		}
	}

	&::-webkit-scrollbar-track {
		background: $secondary;
	}
}

.left {
	position: fixed;
	bottom: 0;
	left: 0;
	left: $container-padding;

	ul {
		display: flex;
		flex-direction: column;
		list-style: none;
	}

	li {
		padding: 10px;
	}

	svg {
		width: 25px;
		height: 25px;
		transition: all 600ms;

		&:hover {
			transition: all 600ms;
			transform: translateX(8px);

			path,
			rect,
			circle {
				color: $primary;
			}
		}
	}

	path,
	rect,
	circle {
		color: $lighter-stale;
	}

	&::after {
		content: '';
		display: block;
		width: 1px;
		height: 120px;
		margin: 0px auto;
		background-color: $lighter-stale;
	}
}

header {
	position: fixed;

	width: 100%;
	user-select: none;
	padding: 20px $container-padding;

	nav {
		display: flex;
		justify-content: space-between;
	}

	.nav-logo-container {
		width: 50px;
		height: 50px;
	}

	.nav-logo {
		width: 100%;
		height: 100%;
	}

	.nav-link-container {
		display: flex;
		align-items: center;

		ul {
			list-style: none;
			display: flex;
		}

		li {
			padding: 10px 15px;
			@include abs-center();
		}

		a {
			display: inline-block;
			text-decoration: none;
			color: $light-stale;
			position: relative;
			transition: all 1000ms;
			font-family: 'Red Hat Mono', monospace;

			&:hover {
				color: $primary;
				transition: all 1000ms;
			}
		}

		a.nav-resume {
			border: 1px solid transparentize($color: $primary, $amount: 0.5);
			color: $primary;
			padding: 10px 15px;
			border-radius: 5px;
			margin-left: 10px;
			height: 38px;
			font-size: 0.9rem;
			transition: all 300ms;
			transition-delay: 200ms;
			@include abs-center();

			&:hover {
				background-color: $primary;
				transform: translateY(-4px);
				transition: all 300ms;
				color: black;
				@include neon-shadow();
			}
		}
	}
}

main {
	padding: 0 $container-padding;
	width: 100%;

	section {
		width: 100%;
		height: 100vh;
	}
}

section#first-section {
	$local-max-width: 1000px;

	display: flex;
	justify-content: center;

	.content {
		max-width: $local-max-width;
		padding-top: 350px;
	}

	.header {
		margin-bottom: 10px;
		color: $primary;
		font-family: 'Red Hat Mono', monospace;
		font-size: 22px;
		font-weight: 500;
	}

	.header-name {
		margin-bottom: 10px;
	}

	.header-description {
		max-width: calc($local-max-width - 300px);
	}
}

section#second-section {
	display: flex;
	justify-content: center;

	.content {
		max-width: 1200px;
		max-height: 800px;
		padding-top: 200px;
		display: flex;
	}

	.about-me-image-container {
		position: relative;
		height: auto;
		flex: 2;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 5px;
		}

		.overlay {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: transparentize($color: $primary-dark, $amount: 0.6);
		}
	}

	.about-me-container {
		padding: 50px 50px;
		flex: 3;

		h1 {
			margin-bottom: 10px;
		}

		.tabs {
			margin-top: 40px;
		}
	}
}
